 body {
  background-color: rgb(112, 160, 175);
}




.flexbox-container-spas {
    display: flex;
    height: 800px;
    justify-content: space-around;
    align-items: center;
    background-color: purple;
   
}


.flexbox-spa {
    width: 200px;
    margin: 10px;
    border: 3px solid #333;
    background-color: rgb(226, 226, 12);
}


.flexbox-container-dogs {
  display: flex;
  height: 800px;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(83, 83, 145);
  flex-wrap: wrap;
}


.flexbox-dog {
  width: 200px;
  margin: 10px;
  border: 5px solid black;
  background-color: rgb(96, 155, 96);
}
/* rgb(255, 165, 47) */
.navbar {
  display: flex;
  margin: 1rem 2rem;
  font-size: 1.5em;
  justify-content: center;
  transition: 0.1s; 
}

nav .list {
  display: flex;
  padding: 10px;
  
}

.btn-1 {
  margin-left: 2px;
  border: 1px solid black;
  background-color: rgb(223, 223, 45)

}

.btn-2 {
  margin-left: 36px;
  margin-bottom: 2px;
  border: 1px solid black;
  background-color: purple;

}

.home {
  margin: auto;
  text-align: center;

}

.flexbox-container-img {
  display: flex;
 justify-content: space-around;
 align-items: center;
 flex-wrap: wrap;
}